* {
  margin: 0;
  padding: 0;
}
html,
body {
  box-sizing: border-box;
}
main {
  width: 100vw;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1435686858161-59da32dfd4b4?q=80&w=1474&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  display: flex;
  justify-content: center;
  align-items: center;
}
#bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.key {
  width: 100px;
  margin: 1rem;
  transition: all .07s;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.599);
  border: solid 5px black;
  text-shadow: 0 0 5px black;
  padding: 8px;
  kbd {
    font-size: 30px;
    color: white;
    display: block;
  }
  span {
    font-style: unset;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #ffc600;
  }
}
.sounds {
  display: flex;
  gap: 10px;
}
.playing {
  border-color: #ffc500;
  box-shadow: 0 0 10px #ffc600;
  transform: scale(1.1);
}
